<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Home page
        link(rel='stylesheet', href='/css/styles.css')

    body
        header
            nav.p-6.bg-white.flex.justify-between.mb-6
                ul.flex.items-center
                    li
                        a(href="/").p-3 Breaking Bad App

                ul.flex.items-center
                    li
                        a(href="/").p-3 About

                    li
                        a(href="/about").p-3 Help

                    li
                        a(href="/contact").p-3 Contact

        block content

