doctype html
html(lang="en")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title= title
        link(rel="stylesheet", href=`https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css`)
        link(rel="stylesheet", href="/css/styles.css")

    body
        div.flex.flex-col.h-screen.justify-between

            include header.pug

            main.mb-auto.h-80
                block content

            include footer.pug
