extends layouts/layout.pug

block content

    div.grid.grid-cols-1.space-y-3

        p.pl-14.pr-16.leading-relaxed
         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at tellus sed ante facilisis molestie in quis urna. Duis hendrerit eu ex quis tincidunt. Duis maximus, odio sed molestie malesuada, orci nulla dictum leo, a convallis odio quam vel nibh. Nunc a pulvinar purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor pharetra ex, sed aliquam est pulvinar vel. Sed ut blandit augue. Nullam ut diam ut tellus mollis tristique. Duis auctor in ipsum et fringilla. Maecenas sagittis libero quam, at auctor metus iaculis non. Proin efficitur magna vel sapien laoreet ultrices.

        p.pl-14.pr-16.leading-relaxed
         | Nam lobortis mi ut consectetur ornare. Mauris dignissim malesuada venenatis. Aliquam quam diam, suscipit in sem quis, suscipit eleifend arcu. Aliquam molestie, arcu vitae cursus fermentum, mi mi dictum ligula, eget malesuada metus urna mattis quam. Maecenas nec interdum leo, vitae commodo erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut malesuada finibus eros, ac semper erat bibendum in. Suspendisse nulla mauris, elementum vel libero ac, aliquam pellentesque erat. Maecenas a condimentum tortor, eleifend pulvinar ex. Morbi viverra, felis in mattis consectetur, enim diam rutrum dui, non volutpat tellus felis a risus.

        p.pl-14.pr-16.leading-relaxed
            | Vivamus vehicula massa vitae ornare gravida. Ut sed mauris id lectus accumsan finibus. Pellentesque finibus in sem venenatis scelerisque. Nullam sed leo id massa placerat malesuada id ac tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis fermentum congue metus. Vestibulum risus nisl, accumsan in imperdiet a, consectetur ut odio. Aliquam erat volutpat.
