extends layouts/layout.pug

block content

    div.grid.grid-cols-2.gap-8

        div.p-6.ml-4

            p I'd love to hear from you
            p.mb-12 Fill up the form and I will get back to you.

            p.mb-12
                i.fa.fa-phone.fa-lg.mr-4
                | 000 - 00 - 000 0000

            p.mb-12
                i.fa.fa-envelope.fa-lg.mr-4
                | YourEmail@Domain.Com

            p.mb-12
                i.fa.fa-map-marker.fa-lg.mr-4
                | City, Country

            ul.flex.items-center
                li
                    a.p-4(href="#")
                        i.fa.fa-twitter.fa-lg

                li
                    a.p-4(href="#")
                        i.fa.fa-facebook.fa-lg

                li
                    a.p-4(href="#")
                        i.fa.fa-linkedin.fa-lg

        div.p-6.ml-4.mr-4
            div
                form(action="" method="post" class="mb-6")

                    div.flex.flex-col.mb-4
                        label.mb-2.mr-2.uppercase.text-lg.text-grey-darkest Name:
                        input(type="text" name="name" class="border py-2 px-3 text-grey-darkest")

                    div.flex.flex-col.mb-4
                        label.mb-2.mr-2.uppercase.text-lg.text-grey-darkest Email:
                        input(type="email" name="email" class="border py-2 px-3 text-grey-darkest")

                    div.flex.flex-col.mb-4
                        label.mb-2.mr-2.uppercase.text-lg.text-grey-darkest Message:
                        textarea(name="msg", rows="3", cols="20" class="border py-2 px-3 text-grey-darkest")

                    input(type="Submit", value="Submit" class="block bg-teal hover:bg-teal-dark text-white uppercase text-lg mx-auto p-4 rounded")
