extends layouts/layout.pug

block content
    div.container.m-3.p-5.text-4xl.mx-auto.text-center
        h1  How can we help?

    div.p-4

        div.flex.items-center.rounded-full.shadow-lg.ml-32.mr-32.border-2.border-grey-300.border-opacity-25

            input(class="rounded-full w-full py-4 px-6 text-grey-700 leading-tight focus:outline-none" id="search" type="text" placeholder="Search")

            div.p-3
                button(class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-10 h-10 flex items-center justify-center")
                    i.fa.fa-search

    div.auto-height.grid.grid-cols-3

        div.relative.box-border.h-28.w-72.p-4.shadow-lg.ml-24.mt-8.rounded-lg.border-2

            div.absolute.inset-y-10.left-8.w-16
                i.fa.fa-phone.fa-2x

            div.ml-16
                a(href="/" class="ml-4")
                    i.underline Resolution Center
                p.ml-4  Resolve transaction or account issues

        div.relative.box-border.h-28.w-72.p-4.shadow-lg.ml-24.mt-8.rounded-lg.border-2

            div.absolute.inset-y-10.left-8.w-16
                i.fa.fa-phone.fa-2x

            div.ml-16
                a(href="/" class="ml-4")
                    i.underline Ask the Community
                p.ml-4  Find the answer or join the conversation

        div.box-border.h-32.w-64.p-4.shadow-lg.ml-16.mt-8.rounded-lg.border-2
            div
                i.fa.fa-phone.fa-lg
            div
                h1 Message Center
                p  Send, receive, and view your PayPal messages
