extends layouts/layout.pug

block content
    div.grid.gap-8
        div.p-6.ml-4
            div.p-6.ml-4
                h1 How can we help?
                p
                    input(type="text")
