extends layouts/layout.pug

block content

    div.container.m-3.p-5.text-2xl.mx-auto.text-center
        h1  Please search about you favourite character in breaking bad

    div.p-4

        div.flex.items-center.rounded-full.shadow-lg.ml-32.mr-32.border-2.border-grey-300.border-opacity-25

            input(class="rounded-full w-full py-4 px-6 text-grey-700 leading-tight focus:outline-none" id="search" type="text" placeholder="Search")

            div.p-3
                button(class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-10 h-10 flex items-center justify-center")
                    i.fa.fa-search


    div.p-4
        p info will be displayed here ...
